<div class="book-list">
  <p-table
    #dt
    [value]="books"
    styleClass="p-datatable-striped"
    [rowHover]="true"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="[
      'title',
      'author',
      'isbn',
      'publisher',
      'publishYear'
    ]"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="dt.filterGlobal($event.target.value, 'contains')"
            placeholder="Search..."
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Author</th>
        <th>Title</th>
        <th>ISBN</th>
        <th>Publish Year</th>
        <th>Publisher</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-book>
      <tr>
        <td>{{ book.author }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.isbn }}</td>
        <td>{{ book.publishYear }}</td>
        <td>{{ book.publisher }}</td>
        <td>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-success p-mr-2"
            (click)="editBook(book)"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-warning"
            (click)="deleteBook(book)"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        In total there are {{ books ? books.length : 0 }} books.
      </div>
    </ng-template>
  </p-table>
</div>
